{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate eius itaque, laudantium maxime minima officia optio rerum soluta unde. Alias atque blanditiis dolor ipsam iure laborum minus sequi vitae!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur consequuntur fuga ipsum nam natus nobis pariatur, ratione reiciendis! Ad aperiam, dignissimos dolore in iste officia qui ratione reiciendis veniam!</p>

{% endblock %}